change_flow_finish.json
{
  "name": "change_flow_finish",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -288,
        0
      ],
      "id": "dacd4777-f65c-4864-a7f0-a9d8f4cc268a",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        192,
        -128
      ],
      "id": "b7d0e649-0214-4d10-8f51-c1a4d91da773",
      "name": "Edit Fields",
      "alwaysOutputData": false,
      "retryOnFail": false,
      "notesInFlow": false
    },
    {
      "parameters": {
        "jsCode": "// Para o modo \"Run Once for All Items\"\nreturn $input.all().map(item => {\n  return {\n    json: item.json.body.data\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -32,
        -128
      ],
      "id": "1da23d9c-2036-4f3c-9207-511434dddf30",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "body": {
            "data": {
              "pushName": "Edmilson vieira da silva - corretor de imóveis",
              "key": {
                "remoteJid": "555198431388@s.whatsapp.net"
              },
              "message": {
                "conversation": "Oi"
              }
            }
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Edit Fields": [
      {
        "json": {
          "pushName": "Edmilson vieira da silva - corretor de imóveis",
          "key": {
            "remoteJid": "555198431388@s.whatsapp.net"
          },
          "message": {
            "conversation": "Oi"
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        []
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "82a78c8b-55ec-4686-b945-c103fb505faf",
  "meta": {
    "instanceId": "e2e400441824b6db24f6af0c9b70e2d924e9d21f9a10e30b8b4be3b81da7dbb1"
  },
  "id": "z7jGCl8S760dvnP8",
  "tags": []
}