change_flow.json
{
  "name": "change_flow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "changeflow",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -352,
        -64
      ],
      "id": "0095781d-15d8-40a7-aafd-a43a54723b6f",
      "name": "Webhook",
      "webhookId": "f63a061d-8a43-4472-9742-be1c3ff0ee27"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -144,
        -64
      ],
      "id": "1a5fe294-405b-4cde-845b-421def8555bc",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        -64
      ],
      "id": "c36a3279-9b86-44e3-b92e-7d5ecd378c0a",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "092353ed-a572-4c35-8bbc-d257a60328b0",
  "meta": {
    "instanceId": "e2e400441824b6db24f6af0c9b70e2d924e9d21f9a10e30b8b4be3b81da7dbb1"
  },
  "id": "gEsu2pzE08qUpk4Y",
  "tags": []
}